<!doctype html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body>

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
    <div class="container px-5">
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/avocats.png}" alt="Daart Logo" class="img-fluid" style="max-height: 50px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                <li class="nav-item" th:classappend="${#strings.equals(page, 'home')} ? 'active' : ''"><a class="nav-link" th:href="@{/}">Acceuil</a></li>
                <li class="nav-item" th:classappend="${#strings.equals(page, 'login')} ? 'active' : ''"><a class="nav-link" th:href="@{/login}">Se connecter</a></li>

            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="avocat-tab" data-toggle="tab" href="#avocat" role="tab" aria-controls="avocat" aria-selected="true">محامي</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="secretaire-tab" data-toggle="tab" href="#secretaire" role="tab" aria-controls="secretaire" aria-selected="false">كاتبة</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="client-tab" data-toggle="tab" href="#client" role="tab" aria-controls="client" aria-selected="false">زبون</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="bureau-tab" data-toggle="tab" href="#bureau" role="tab" aria-controls="bureau" aria-selected="false">مكتب</a>
                        </li>                    </ul>
                    <div class="tab-content mt-4" id="myTabContent">
     <!------------------------- Avocat Form------------------------ -->
                        <div class="tab-pane fade show active" id="avocat" role="tabpanel" aria-labelledby="avocat-tab">
                            <form action="/register" method="POST" class="needs-validation" novalidate>
                                <input type="hidden" name="role" value="avocat">
                                <h3 class="register-heading text-center">انشاء حساب محامي</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <input type="text" class="form-control text-end" placeholder="الاسم" name="firstName" required>
                                        </div>
                                        <div class="mb-3">
                                            <input type="text" class="form-control text-end" placeholder="النسب" name="lastName" required>
                                        </div>
                                        <div class="mb-3">
                                            <input type="email" class="form-control text-end" placeholder="البريد الإلكتروني" name="email" required>
                                        </div>
                                        <div class="mb-3">
                                            <input type="tel" class="form-control text-end" placeholder="رقم الهاتف المحمول" name="mobilePhone" required>
                                        </div>
                                        <div class="mb-3">
                                            <input type="tel" class="form-control text-end" placeholder="رقم الهاتف التابت" name="landlinePhone">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <input type="password" class="form-control text-end" placeholder="كلمة السر" name="password" required>
                                        </div>
                                        <div class="mb-3">
                                            <input type="password" class="form-control text-end" placeholder="إعادة كلمة السر" name="confirmPassword" required>
                                        </div>
                                        <div class="mb-3">
                                            <input type="file" class="form-control text-end" name="image">
                                        </div>
                                        <div class="mb-3">
                                            <input type="text" class="form-control text-end" placeholder="اسم المكتب" name="officeName">
                                        </div>
                                        <div class="mb-3">
                                            <select class="form-control text-end" name="specialization">
                                                <option selected disabled>تحديد التخصص</option>
                                                <option>القانون المدني</option>
                                                <option>القانون الجنائي</option>
                                                <option>القانون التجاري</option>
                                                <!-- Add more specializations here -->
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <select class="form-control text-end" name="city">
                                                <option selected disabled>تحديد المدينة</option>
                                                <!-- Add city options here -->
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-primary btn-block" value="تسجيل">
                            </form>
                        </div>

                        <!-- Secretaire Form -->
                        <div class="tab-pane fade" id="secretaire" role="tabpanel" aria-labelledby="secretaire-tab">
                            <form action="/register" method="POST" class="needs-validation" novalidate>
                                <input type="hidden" name="role" value="secretaire">
                                <h3 class="register-heading text-center">انشاء حساب كاتبة</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <input type="text" class="form-control text-end" placeholder="الاسم" name="firstName" required>
                                        </div>
                                        <div class="mb-3">
                                            <input type="text" class="form-control text-end" placeholder="النسب" name="lastName" required>
                                        </div>
                                        <div class="mb-3">
                                            <input type="tel" class="form-control text-end" placeholder="رقم الهاتف" name="phoneNumber" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <input type="email" class="form-control text-end" placeholder="البريد الالكتروني" name="email" required>
                                        </div>
                                        <div class="mb-3">
                                            <input type="password" class="form-control text-end" placeholder="كلمة السر" name="password" required>
                                        </div>
                                        <input type="submit" class="btn btn-primary btn-block" value="تسجيل">
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- Client Form -->
                        <div class="tab-pane fade" id="client" role="tabpanel" aria-labelledby="client-tab">
                            <form action="/register" method="POST" class="needs-validation" novalidate>
                                <input type="hidden" name="role" value="client">
                                <h3 class="register-heading text-center">انشاء حساب زبون</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <input type="text" class="form-control text-end" placeholder="الاسم" name="firstName" required>
                                        </div>
                                        <div class="mb-3">
                                            <input type="text" class="form-control text-end" placeholder="النسب" name="lastName" required>
                                        </div>
                                        <div class="mb-3">
                                            <input type="email" class="form-control text-end" placeholder="البريد الالكتروني" name="email" required>
                                        </div>
                                        <div class="mb-3">
                                            <input type="text" class="form-control text-end" placeholder="العنوان" name="address" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <input type="password" class="form-control text-end" placeholder="كلمة السر" name="password" required>
                                        </div>
                                        <div class="mb-3">
                                            <input type="password" class="form-control text-end" placeholder="إعادة كلمة السر" name="confirmPassword" required>
                                        </div>
                                        <div class="mb-3">
                                            <input type="tel" class="form-control text-end" placeholder="رقم الهاتف" name="phoneNumber">
                                        </div>
                                        <div class="mb-3">
                                            <select class="form-control text-end" name="legalNeed">
                                                <option selected disabled>سبب الاتصال</option>
                                                <option value="consultation">استشارة</option>
                                                <option value="documentReview">مراجعة وثائق</option>
                                                <option value="other">أخرى</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <textarea class="form-control text-end" rows="4" placeholder="وصف لحاجاتك القانونية" name="legalDescription"></textarea>
                                        </div>
                                        <input type="submit" class="btn btn-primary btn-block" value="تسجيل">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Bureau Form -->
                        <div class="tab-pane fade" id="bureau" role="tabpanel" aria-labelledby="bureau-tab">
                            <form action="/register" method="POST" class="needs-validation" novalidate>
                                <input type="hidden" name="role" value="bureau">
                                <h3 class="register-heading text-center">انشاء مكتب</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <input type="text" class="form-control text-end" placeholder="اسم المكتب" name="officeName" required>
                                        </div>
                                        <div class="mb-3">
                                            <input type="text" class="form-control text-end" placeholder="المدينة" name="city" required>
                                        </div>
                                        <div class="mb-3">
                                            <input type="email" class="form-control text-end" placeholder="البريد الالكتروني" name="email" required>
                                        </div>
                                        <div class="mb-3">
                                            <input type="tel" class="form-control text-end" placeholder="رقم الهاتف" name="phoneNumber" required>
                                        </div>
                                        <div class="mb-3">
                                            <input type="text" class="form-control text-end" placeholder="رقم التسجيل" name="registrationNumber">
                                        </div>
                                        <div class="mb-3">
                                            <textarea class="form-control text-end" rows="4" placeholder="وصف للمكتب والخدمات التي يقدمها" name="officeDescription"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <input type="password" class="form-control text-end" placeholder="كلمة السر" name="password" required>
                                        </div>
                                        <div class="mb-3">
                                            <input type="password" class="form-control text-end" placeholder="إعادة كلمة السر" name="confirmPassword" required>
                                        </div>
                                        <div class="mb-3">
                                            <input type="file" class="form-control text-end" name="image">
                                        </div>
                                        <div class="mb-3">
                                            <input type="text" class="form-control text-end" placeholder="اسم المكتب" name="officeName">
                                        </div>
                                        <div class="mb-3">
                                            <select class="form-control text-end" name="specialization">
                                                <option selected disabled>تحديد التخصص</option>
                                                <option>القانون المدني</option>
                                                <option>القانون الجنائي</option>
                                                <option>القانون التجاري</option>
                                                <!-- Add more specializations here -->
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <select class="form-control text-end" name="city">
                                                <option selected disabled>تحديد المدينة</option>
                                                <!-- Add city options here -->
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-primary btn-block" value="تسجيل">
                            </form>
                        </div>
                        <!-- /Bureau Form........ -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>